

/* body{
    /* background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-repeat: no-repeat;
    background-size: cover; */

h1{
    font-family: 'Courier New', Courier, monospace;
}

div#first{
    display: flex;
    height: 50px;
    background-color: #D6E3F8;
    flex-direction: column;
    align-items: flex-end;
}
/* div>div{
    font-size: 20px;
} */

img{
    justify-content: space-between;
    margin: 10px;
    /* flex-wrap: wrap;
    display: flex;
    flex-direction: row; */
}

button{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    position: relative;
    /* width: 50%; */
}

/* .container img{
    height: auto;
} */

.container .btn{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

div#home{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
div#magic{
    color: blue;
    background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
div#epcot{
    background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-size: cover;
    color: blue;
    height: 100%;
    width: 100%;
}
div#hollywood{
    background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-size: cover;
    color: blue;
    height: 100%;
    width: 100%;
}
div#animal{
    background-image: url("https://www.pngitem.com/pimgs/m/17-171680_disney-world-florida-logo-hd-png-download.png");
    background-size: cover;
    color: blue;
    height: 100%;
    width: 100%;
}